<div
  class="chart-container"
  style="position: relative; height: 40vh; width: 80vw"
>
  <div style="text-align: center">
    <mat-form-field>
      <mat-label>Odaberi period</mat-label>
      <mat-select (selectionChange)="filterByMonth($event)">
        <mat-option value="Sve"> Sve </mat-option>

        <mat-option *ngFor="let months of monthsAvailable" [value]="months">
          {{ months }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div style="margin-left: 45%">
    <mat-progress-spinner
      color="primary"
      mode="indeterminate"
      *ngIf="isLoading"
    >
    </mat-progress-spinner>
  </div>
  <canvas id="myChart" style="margin: 0 auto"> </canvas>

  <!-- <div style="text-align: center">
    <button (click)="insertNewData()" mat-raised-button>Fetch</button>
  </div> -->
  <app-table [dataFromDatabase]="dataFromFirebase"></app-table>
  <p style="text-align: center; padding: 2%">
    <b> Autor: Kalač Ilhan</b>
  </p>
</div>
