<div class="mat-elevation-z14 table" style="margin: 2%">
  <h3 style="text-align: center">
    Tabela promjena stanja nakon svakog presjeka
  </h3>
  <div fxLayout="row">
    <div style="width: 100% !important; margin: 1%">
      <mat-form-field class="search-form-field" style="width: 100% !important">
        <input
          matInput
          [(ngModel)]="searchKey"
          placeholder="Pretraga"
          autocomplete="off"
          (keyup)="applyFilter()"
        />
        <button
          mat-button
          *ngIf="searchKey"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="searchKey = ''; applyFilter()"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>

  <mat-table
    [dataSource]="listData"
    matSort
    matSortActive="Name"
    matSortDirection="asc"
  >
    <ng-container matColumnDef="Date">
      <mat-header-cell *matHeaderCellDef> Datum </mat-header-cell>
      <mat-cell *matCellDef="let element; let i = index">
        <b style="font-size: smaller">{{ element?.date?.substring(0, 6) }} </b>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="activeCases">
      <mat-header-cell *matHeaderCellDef mat-sort-header style="color: red">
        <b> Aktivni slučajevi </b>
      </mat-header-cell>
      <mat-cell *matCellDef="let element" style="font-size: smaller">{{
        element?.activeCases
      }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="recovered">
      <mat-header-cell *matHeaderCellDef mat-sort-header style="color: green">
        <b> Oporavljeni </b>
      </mat-header-cell>
      <mat-cell *matCellDef="let element" style="font-size: smaller">{{
        element?.recovered
      }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="deaths">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Umrli
      </mat-header-cell>
      <mat-cell *matCellDef="let element" style="font-size: smaller">{{
        element?.deaths
      }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row
      *matRowDef="let row; columns: displayedColumns"
      style="cursor: pointer"
      (click)="onSelectedRow(row.$key, $event)"
    ></mat-row>
  </mat-table>
  <mat-paginator
    [pageSizeOptions]="[5, 10, 25, 100]"
    [pageSize]="5"
    showFirstLastButtons
  ></mat-paginator>
  <mat-card
    *ngIf="isLoading"
    style="display: flex; justify-content: center; align-items: center"
  >
    <mat-progress-spinner
      color="primary"
      mode="indeterminate"
      *ngIf="isLoading"
    >
    </mat-progress-spinner>
  </mat-card>
</div>
<div class="footer">
  <h3>
    Posljednji presjek: Aktivnih:
    <b> {{ dataFromDatabase[0]?.activeCases }}</b> Oporavljenih:
    <b> {{ dataFromDatabase[0]?.recovered }}</b> Umrlih:
    <b> {{ dataFromDatabase[0]?.deaths }}</b>
  </h3>
</div>
