<div
  class="chart-container"
  style="position: relative; height: 40vh; width: 80vw"
>
  <div style="text-align: center">
    <mat-form-field>
      <mat-label>Odaberi period</mat-label>
      <mat-select (selectionChange)="filterByMonth($event)">
        <mat-option value="Sve"> Sve </mat-option>

        <mat-option *ngFor="let months of monthsAvailable" [value]="months">
          {{ months }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <canvas id="myChart" style="margin: 0 auto"></canvas>

  <!-- <div>
    date <input type="text" #Date /> active
    <input type="text" #Active /> recovered
    <input type="text" #Recovered /> deaths <input type="text" #Deaths />
    <button (click)="insertNewData()">djesi</button>
  </div> -->
  <br />
  <app-table></app-table>
  <br /><br />
  <p style="text-align: center"><b> Autor: Kalač Ilhan</b></p>
  <br /><br />
  <br /><br />
</div>
